.moving-text {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    color: white;
    animation: moveText 10s linear infinite;
  }
  
  @keyframes moveText {
    0% {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    50% {
      left: -100%;
      transform: translate(0, -50%);
    }
    50.1% {
      left: 100%;
      transform: translate(0, -50%);
    }
    100% {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }